 See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# unrealted
docker-compose.yml
/merch-shop

# dependencies
/scouting-app/token
/scouting-app/node_modules
/scouting-app/.pnp
/scouting-app/.pnp.js
/scouting-app/.yarn/install-state.gz
/scouting-db/.env
/scouting-db/server-ca.pem
/scouting-db/node_modules
/scouting-app/.env

# testing
/scouting-app/coverage

# next.js
/scouting-app/.next/
/scouting-app/out/

# production
/scouting-app/build

# misc
/scouting-app/.DS_Store
/scouting-app/*.pem

# debug
/scouting-app/npm-debug.log*
/scouting-app/yarn-debug.log*
/scouting-app/yarn-error.log*

# local env files
/scouting-app/.env*.local

# vercel
/scouting-app/.vercel

# typescript
/scouting-app/*.tsbuildinfo
/scouting-app/next-env.d.ts

.env
node_modules
